version: 2.1

jobs:
  build-ios:
    macos:
      xcode: "15.4.0" # Use a modern Xcode version
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build Web App
          command: npm run build
      - run:
          name: Capacitor Sync
          command: npx cap sync ios
      - run:
          name: Install Fastlane
          command: |
            cd ios/App
            bundle install
      - run:
          name: Fastlane Build
          command: |
            cd ios/App
            bundle exec fastlane build
      - store_artifacts:
          path: ios/App/build/App.ipa
          destination: App.ipa

workflows:
  version: 2
  build:
    jobs:
      - build-ios
